[submodule "Moth-Eye-Raytracing"]
	path = Moth-Eye-Raytracing
	url = git@github.com:MrDNAlex/Moth-Eye-Raytracing.git
[submodule "Moth-Eye-Raytracing-Python"]
	path = Moth-Eye-Raytracing-Python
	url = git@github.com:MrDNAlex/Moth-Eye-Raytracing-Python.git
[submodule "Moth-Eye-Raytracing-Data-Processing"]
	path = Moth-Eye-Raytracing-Data-Processing
	url = git@github.com:MrDNAlex/Moth-Eye-Raytracing-Data-Processing.git
[submodule "Moth-Eye-RCWA"]
	path = Moth-Eye-RCWA
	url = git@github.com:MrDNAlex/Moth-Eye-RCWA.git
